@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "PTSans";
  src: url("../font/PTSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url("../font/PTSansBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
:root {
  --text-gray: #9E9E9E;
  --text-black: #000;
  --red: #EB1E32;
  --border-color: #E0E0E0;
  --pink: #FFEFEF;
  --light-gray: #EAECEE;
  --slate-gray: #747B8F;
  --light-blue-gray: #D4DDE9;
}

html, body {
  min-height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: var(--text-black);
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  transition: all 0.2s;
}

h1, .h1 {
  font-size: 5rem;
  line-height: 1.16;
}

h2, .h2 {
  font-size: 4.1rem;
}

h3, .h3 {
  font-size: 3.2rem;
}

h4, .h4 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

b, strong, .font-700 {
  font-weight: 700;
}

.font-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-grey {
  color: var(--text-gray);
}

.text-white {
  color: #fff;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
}
.container--full {
  max-width: 1840px;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.svg-sprite {
  display: none;
}

.red {
  color: var(--red);
}

.pink-bg {
  background: var(--pink);
}

.light-gray-bg {
  background: var(--light-gray);
}

.slate-gray-bg {
  background: var(--slate-gray);
}

.light-blue-gray-bg {
  background: var(--light-blue-gray);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 500;
  min-width: 22.5rem;
  height: 6rem;
  padding: 0 1rem;
  line-height: 1;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.8;
}
.btn--lg {
  font-size: 2.6rem;
  height: 8rem;
}
.btn--sm {
  font-size: 1.8rem;
  height: 4rem;
}
.btn--red {
  background: var(--red);
  color: #fff;
}
.btn--outline {
  border: 1px solid currentColor;
}
.btn--white {
  color: #EAECEE;
}
.btn--grey {
  color: var(--text-gray);
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 500;
  min-width: 22.5rem;
  height: 6rem;
  padding: 0 1rem;
  line-height: 1;
  border-radius: 7px;
  cursor: default;
}
.badge--white {
  background: #fff;
  color: var(--red);
  border: 1px solid var(--border-color);
}
.badge--grey {
  background: #D9D9D9;
  color: var(--red);
}
.badge--dark {
  background: #747B8F;
  color: #fff;
}
.badge .icon {
  width: 2em;
  height: 2em;
  margin-right: 1rem;
}
.badge .icon svg {
  width: 100%;
  height: 100%;
}

.block {
  margin-top: 12rem;
  margin-bottom: 4rem;
}
.block-title {
  text-align: center;
}

.list {
  padding-left: 1.2em;
  font-size: 2.3rem;
  line-height: 1.43;
  list-style: disc;
}
.list li {
  list-style: inherit;
}
.list--sm {
  font-size: 1.7rem;
}

.mobile-btns,
.show-on-phone {
  display: none !important;
}

.icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*Header*/
.header {
  padding: 2.5rem 0 0;
  transition: transform 0.3s ease;
  transform: translateY(0);
  background: #fff;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 0.4s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header.active {
  top: 0 !important;
}

.logo {
  display: inline-flex;
  max-width: 44rem;
  width: 20vw;
}
.logo img {
  width: 100%;
}

.header__banner {
  display: inline-flex;
  max-width: 20rem;
  width: 10vw;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--text-black);
  font-size: 2rem;
}
.menu a:hover {
  color: var(--text-gray);
}

.has-submenu {
  position: relative;
  padding-right: 25px;
}
.has-submenu::after {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.has-submenu:hover::after {
  transform: translateY(-50%) rotate(180deg);
}
.has-submenu:hover .submenu-wrapper {
  opacity: 1;
  pointer-events: all;
}
.has-submenu:hover > a {
  color: var(--text-gray);
}

.submenu-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 40rem;
  padding-top: 3rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.submenu-list {
  position: relative;
  padding: 3rem 4rem;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  background: #fff;
  color: #747B8F;
  font-size: 1.8rem;
}
.submenu-list::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.submenu-list li:not(:last-child) {
  margin-bottom: 1em;
}

.lk {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-black);
  font-size: 2rem;
}
.lk:hover {
  color: var(--text-gray);
}
.lk .icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  color: var(--text-gray);
}

.header__right__top {
  gap: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  align-items: flex-start;
}
.header__right__top .menu {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.header__right__bottom {
  text-align: right;
}

.number {
  font-weight: 700;
  font-size: 2rem;
}

.main-slider {
  position: relative;
}
.main-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.main-slider .slick-arrow.prev-arrow {
  left: 5px;
}
.main-slider .slick-arrow.next-arrow {
  right: 5px;
}

.first-screen {
  border-radius: 4rem;
  background: #E7E7E7;
  display: flex;
  padding: 3rem 1rem 5rem 7rem;
}
.first-screen__left {
  width: 58%;
}
.first-screen__left .top-title {
  font-size: 2.7rem;
  text-transform: uppercase;
  line-height: 2.07;
  margin-bottom: 2rem;
}
.first-screen__left .title {
  margin-bottom: 2rem;
}
.first-screen__left .subtitle {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.first-screen__right {
  width: 42%;
}

.callback {
  box-shadow: 3px 7px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  max-width: 1315px;
  margin: -3rem auto 0;
  padding: 3.2rem;
  text-align: center;
  position: relative;
  background: #fff;
  z-index: 2;
}
.callback-form {
  gap: 3rem;
}
.callback-form .input-wrapper {
  width: 100%;
  max-width: 40rem;
}
.callback-form .btn {
  padding: 0 5rem;
}

.form-notice {
  font-size: 2.4rem;
  line-height: 1.75;
  margin-top: 1.5rem;
}

.input-wrapper {
  height: 6rem;
}
.input-wrapper input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 0 15px;
  font-size: 16px;
  transition: all 0.3s;
}
.input-wrapper input::-moz-placeholder {
  color: var(--text-gray);
}
.input-wrapper input::placeholder {
  color: var(--text-gray);
}
.input-wrapper input:focus {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
}
.input-wrapper--grey input {
  background: #F2F4F7;
  border: none;
}
.input-wrapper--grey input::-moz-placeholder {
  color: #747B8F;
}
.input-wrapper--grey input::placeholder {
  color: #747B8F;
}

.sale-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
}

.sale-hit .block-title {
  margin-bottom: 8rem;
}
.sale-hit .btn-container {
  margin-top: 5rem;
}
.sale-hit .btn-container .btn {
  width: 100%;
  max-width: 430px;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.sale-item {
  border-radius: 40px;
  padding: 3rem 4rem;
}
.sale-item.popular {
  background: #666C7E;
  color: #fff;
}
.sale-item.popular .badge {
  min-width: 380px;
  justify-content: flex-start;
}
.sale-item.spoken, .sale-item.work {
  background: #E2E8F0;
}
.sale-item.individual {
  background: #F0EFEB;
}
.sale-item.intensive {
  background: #F1F3F5;
}
.sale-item.child {
  background: #FFF9D4;
}
.sale-item:first-child {
  grid-column: 1/-1; /* Первый блок на всю ширину */
}
.sale-item__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.sale-item__content__top {
  margin-bottom: 2rem;
  width: 100%;
}
.sale-item__content .h4 {
  margin-bottom: 2rem;
}
.sale-item .cta-block {
  display: flex;
  gap: 2rem;
  margin-top: auto;
}
.sale-item .badge + .cta-block {
  margin-top: 2rem;
}
.sale-item .list {
  margin-bottom: 2rem;
}

.sale-notice {
  color: var(--red);
  line-height: 1.3;
  font-weight: 500;
}

.sale-badge-block {
  text-align: right;
  margin: 4rem 0;
}
.sale-badge-block .badge {
  height: 7rem;
  padding-right: 4rem;
  position: relative;
}
.sale-badge-block .badge::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(55%, -50%) rotate(45deg);
  height: 5.3rem;
  background: #D9D9D9;
  aspect-ratio: 1;
  border-radius: 7px;
  z-index: -1;
}
.sale-badge-block .badge .icon {
  width: 3.7rem;
  height: 5.5rem;
  margin-right: 3rem;
}

.garant {
  margin-bottom: 4rem;
}
.garant__top {
  margin-bottom: 3rem;
}
.garant__top .subtitle {
  margin-top: 1rem;
  font-size: 3rem;
}
.garant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: flex-end;
  margin-bottom: 8rem;
}
.garant-list__item {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2.3rem;
  line-height: 1.25;
  font-weight: 600;
}
.garant-list__item:not(:first-child) {
  padding: 3rem;
  min-height: 27rem;
}
.garant-list__item span {
  white-space: nowrap;
}
.garant .btn-block .btn {
  width: 100%;
  max-width: 430px;
}

.success .block-title {
  margin-bottom: 6rem;
}
.success__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.success__list__item {
  border-radius: 40px;
  min-height: 32rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s;
}
@media (min-width: 1300px) {
  .success__list__item:hover {
    box-shadow: 0 50px 20px -40px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: default;
  }
}
.success__list__item:last-child {
  grid-column: 1/-1;
}
.success__list__item .text {
  font-size: 2.8rem;
  line-height: 1.25;
}
.success__list__item .text-md {
  font-size: 2.5rem;
  line-height: 1.8;
}
.success__list__item .text-sm {
  font-size: 2.2rem;
  line-height: 1.4;
}
.success__list__item .img {
  margin-bottom: 2rem;
}

.item-body {
  display: flex;
  justify-content: space-between;
}
.item-body__left {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
}
.item-body__left .btn {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
}
.item-body__right {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.item-body__right img {
  border-radius: 25px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-body .best-badge {
  display: inline-flex;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
  border-radius: 7px;
  border: 1px solid var(--red);
  color: var(--text-black);
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 700;
}

.video {
  margin-bottom: 4rem;
}
.video .block-title {
  margin-bottom: 4rem;
}

.video-block {
  position: relative;
}

.video-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.video-placeholder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#videoContainer {
  overflow: hidden;
  border-radius: 20px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-indicator {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bonus {
  margin-bottom: 4rem;
}
.bonus .block-title {
  margin-bottom: 4rem;
}
.bonus__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.bonus__list__item {
  border-radius: 40px;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.bonus__list__item .title {
  font-size: 2.8rem;
  line-height: 1.25;
  font-weight: 700;
}
.bonus__list__item .text {
  font-size: 1.8rem;
  line-height: 1.34;
}

.item__body {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.item__body__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.item__body__left .text {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.item__body__right {
  width: 40%;
  display: flex;
  align-items: center;
}
.item__body .btn {
  margin-top: 2rem;
}

.review .block-title {
  margin-bottom: 4rem;
}

.review-block {
  border-radius: 40px;
  padding: 3rem;
}

.temp-img {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

/*Footer*/
.footer {
  margin-top: 12rem;
  padding-top: 7rem;
  padding-bottom: 20rem;
  border-top: 1px solid var(--border-color);
}
.footer-menu {
  color: var(--slate-gray);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
}
.footer-menu__column {
  width: 18%;
}
.footer-menu__title {
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-menu__item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer-menu__item a:hover {
  color: var(--text-black);
}

.footer-app {
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 2rem;
}
.footer-app__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.footer-app__text {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 1em;
  line-height: 1.3;
}

.stores img {
  height: 35px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  top: 0;
  left: 0;
  padding: 15px 10px 70px;
  display: none;
  z-index: 50;
}
.mobile-menu__top {
  margin-bottom: 20px;
}
.mobile-menu.active {
  display: block;
}

.mobile-menu__list {
  font-size: 16px;
  line-height: 2;
}
.mobile-menu__list > li > a {
  font-weight: 700;
}
.mobile-menu__list li {
  margin-bottom: 1rem;
}
.mobile-menu__list ul {
  padding-left: 15px;
}

.mobile-menu__footer {
  margin-top: 20px;
}

.apps-block {
  margin-bottom: 20px;
}
.apps-block .title {
  font-weight: 700;
  line-height: 2;
  margin-bottom: 10px;
}

.social {
  display: flex;
  gap: 15px;
}
.social a {
  display: block;
  width: 30px;
  height: 30px;
}
.social a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
  z-index: 90;
}

.feedback-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  display: none;
  z-index: 100;
}
.feedback-modal.active {
  display: block;
}
.feedback-modal__content {
  display: flex;
  position: relative;
}
.feedback-modal__content .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.feedback-modal__content .close svg {
  width: 100%;
  height: 100%;
}
.feedback-modal__left {
  background: #EAECEE;
  width: 35%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedback-modal__left .modal-title,
.feedback-modal__left .feedback-modal__description {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.feedback-modal__right {
  width: 65%;
  min-width: 705px;
  padding: 5rem 7rem;
}
.feedback-modal__right .modal-title {
  margin-bottom: 2.5rem;
}
.feedback-modal__form .input-wrapper {
  margin-bottom: 3rem;
}

.feedback-modal__description {
  margin-top: 3rem;
}
.feedback-modal__description li {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 15px;
  font-size: 1.8rem;
  line-height: 1.25;
}
.feedback-modal__description li:not(:last-child) {
  margin-bottom: 2rem;
}
.feedback-modal__description li .icon {
  flex: none;
  width: 4.4rem;
  height: 4.4rem;
}
.feedback-modal__description li .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form-row {
  display: flex;
  gap: 3rem;
}
.form-row .input-wrapper {
  flex-grow: 1;
}

.modal-title {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 600;
}

.agreement {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #747B8F;
  line-height: 1.3;
}
.custom-checkbox a {
  text-decoration: underline;
}
.custom-checkbox a:hover {
  text-decoration: none;
}

/* Скрываем стандартный чекбокс */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Создаем кастомный чекбокс */
.checkmark {
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
  flex: none;
  background-color: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}

/* Создаем галочку (скрыта, когда чекбокс не отмечен) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Показываем галочку, когда чекбокс отмечен */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Стиль галочки */
.custom-checkbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #e74c3c;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (max-width: 1240px) {
  .feedback-modal {
    width: 90%;
    max-width: 705px;
    max-height: 80vh;
    overflow-y: auto;
  }
  .feedback-modal .btn {
    font-size: 16px;
  }
  .feedback-modal__content {
    flex-direction: column;
  }
  .feedback-modal__left,
  .feedback-modal__right {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
  .modal-title {
    font-size: 24px;
    text-align: center;
  }
  .feedback-modal__left {
    padding: 50px 0;
  }
  .feedback-modal__left .feedback-modal__description {
    max-width: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .feedback-modal__left .feedback-modal__description li {
    font-size: 14px;
  }
  .input-wrapper {
    height: 50px;
  }
  .agreement {
    gap: 20px;
    margin: 30px 0;
  }
  .custom-checkbox {
    font-size: 14px;
  }
  .feedback-modal__right {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .feedback-modal__left {
    display: none;
  }
  .modal-title {
    font-size: 20px;
  }
  .modal-title br {
    display: none;
  }
  .feedback-modal__right {
    padding: 30px 15px;
  }
  .form-row {
    flex-direction: column;
    gap: 0;
  }
  .custom-checkbox {
    font-size: 12px;
  }
  .feedback-modal .btn {
    width: 100%;
  }
}
@media (max-width: 1540px) {
  html {
    font-size: 0.6vw;
  }
  .garant-list__item {
    font-size: 3rem;
  }
  .success__list__item .img {
    width: 100px;
    flex: none;
  }
  .success__list__item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gaP: 15px;
    min-height: 25rem;
  }
}
@media (max-width: 1460px) {
  html {
    font-size: 0.45vw;
  }
  .first-screen__left .subtitle {
    font-size: 3rem;
  }
  .first-screen__left .top-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
@media (max-width: 1200px) {
  .callback-form {
    flex-wrap: wrap;
  }
  .callback-form .btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
  .callback-form .input-wrapper {
    max-width: unset;
    width: auto;
    flex-grow: 1;
  }
}
@media (max-width: 1024px) {
  .input-wrapper input {
    font-size: 14px;
  }
  .callback-form {
    gap: 20px;
  }
  .sale-item,
  .garant-list__item,
  .success__list__item,
  .bonus__list__item,
  .review-block {
    border-radius: 20px;
  }
  .garant-list__item {
    font-size: 3rem;
  }
  .form-notice {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 1vw;
  }
  .mobile-btns {
    display: flex !important;
    align-items: center;
    gap: 10px;
  }
  .mobile-btns .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .mobile-btns .phone {
    width: 30px;
    height: 30px;
    background: var(--red);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  .mobile-btns .phone .icon {
    width: 20px;
    height: 20px;
  }
  h1, .h1 {
    font-size: 25px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  .garant__top .subtitle,
  .success__list__item .text,
  h4, .h4,
  .success__list__item .text-md,
  .bonus__list__item .title {
    font-size: 18px;
  }
  .btn--lg {
    font-size: 16px;
  }
  .success__list__item .text-sm,
  .bonus__list__item .text,
  .footer-app__title {
    font-size: 14px;
  }
  .footer-app__text {
    font-size: 12px;
  }
  .first-screen {
    background: transparent;
    padding: 0;
    text-align: center;
  }
  .first-screen__left .top-title {
    font-size: 12px;
    color: var(--red);
    font-weight: 500;
  }
  .first-screen__left .subtitle {
    font-size: 18px;
    font-weight: 500;
    max-width: 320px;
    margin: 0 auto 20px;
  }
  .first-screen__left .show-on-phone {
    font-size: 18px;
    margin: 10px 0 20px;
    font-weight: 500;
  }
  .first-screen__left .show-on-phone img {
    margin-left: auto;
    margin-right: auto;
  }
  .header__right,
  .first-screen__right,
  .hide-on-phone,
  .first-screen__left .subtitle br,
  .sale-hit .block-title br,
  .sale-item__img,
  .sale-item .list,
  .cta-block > *:not(.btn--red),
  .sale-notice br,
  .sale-item__content__top .h3 br,
  .child .sale-item__content .h4 br,
  .garant-list__item br,
  .sale-item.intensive br {
    display: none;
  }
  .show-on-phone,
  .sale-hit .block-title span,
  .sale-wrapper,
  .garant-list,
  .item-body--block,
  .bonus__list {
    display: block !important;
  }
  .show-on-phone.badge {
    display: flex !important;
  }
  .first-screen__left {
    width: 100%;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    width: 24px;
    cursor: pointer;
  }
  .burger span {
    display: block;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
  }
  .burger span:nth-child(1) {
    width: 24px;
  }
  .burger span:nth-child(2) {
    width: 18px;
    align-self: flex-start;
  }
  .burger span:nth-child(3) {
    width: 12px;
    align-self: flex-start;
  }
  .logo {
    max-width: unset;
    width: 150px;
  }
  .header__banner {
    width: 70px;
    max-width: unset;
  }
  .sale-item.popular .badge {
    min-width: unset;
  }
  .container {
    padding: 0 10px;
  }
  .btn,
  .badge {
    padding: 0 1em;
    font-size: 14px;
    height: 40px;
  }
  .callback {
    box-shadow: 0px 24px 22px -30px rgba(0, 0, 0, 0.25);
    padding: 0;
    margin-top: 25px;
    margin-top: 5px;
  }
  .form-notice {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    max-width: 344px;
    margin: 10px auto 20px;
    padding-bottom: 25px;
  }
  .callback-form {
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  .callback-form .btn {
    font-size: 15px;
  }
  .callback-form .input-wrapper {
    width: 100%;
  }
  .input-wrapper {
    height: 40px;
  }
  .block {
    margin-top: 35px;
  }
  .sale-hit .block-title,
  .sale-notice,
  .sale-item {
    margin-bottom: 15px;
  }
  .sale-item {
    padding: 15px;
  }
  .badge + .sale-item__content__top {
    margin-top: 15px;
  }
  .sale-item__content__top {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 10px;
  }
  .sale-item__content__top .h3 {
    line-height: 1.2;
  }
  .sale-item__content .h4 {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
  .sale-notice {
    font-size: 14px;
  }
  .sale-badge-block .badge {
    width: 100%;
    max-width: 440px;
    flex-direction: row-reverse;
    gap: 15px;
    height: 46px;
    font-size: 16px;
  }
  .sale-badge-block .badge::before {
    display: none;
  }
  .sale-badge-block .badge--grey {
    background: #EAECEE;
  }
  .sale-badge-block .badge .icon {
    margin-right: 0;
    width: 29px;
    height: 37px;
  }
  .child {
    position: relative;
  }
  .child .sale-item__img {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 105px;
  }
  .child .sale-item__content .badge {
    background: transparent;
    color: var(--red);
    height: auto;
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .garant__top .subtitle {
    line-height: 1.3;
    margin: 20px 0 10px;
  }
  .garant-list__item {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    flex-direction: row;
    align-items: center;
  }
  .garant-list__item img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  .garant .btn-block .btn {
    font-size: 16px;
  }
  .garant-list__item:not(:first-child) {
    min-height: 83px;
  }
  .success__list {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 15px;
  }
  .success__list__item {
    width: 320px;
    flex: none;
    padding: 20px;
    border-radius: 10px;
  }
  .success__list__item .img img {
    max-width: 100px;
  }
  .success__list__item--mobile {
    width: 100%;
    max-width: 440px;
    margin: 20px auto 0;
  }
  .success__list__item--mobile .item-body__img {
    width: 100%;
    margin: 10px 0;
  }
  .success__list__item--mobile .item-body__img img {
    width: 100%;
    border-radius: 10px;
  }
  .success__list__item--mobile .item-body__left {
    width: 100%;
  }
  .success__list__item .text-md {
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .item-body__left .btn {
    margin-top: 15px;
  }
  .video-block iframe {
    height: 300px;
  }
  .bonus__list__item {
    margin-bottom: 15px;
    padding: 15px 10px 15px 20px;
  }
  .footer {
    padding-bottom: 40px;
  }
  .footer-menu {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
  }
  .footer-menu__column {
    width: 45%;
    margin-bottom: 20px;
  }
  .footer-menu__column--app {
    width: 100%;
  }
  .footer-menu__item {
    margin-bottom: 0 !important;
  }
  .footer-menu__item a {
    padding: 8px 0;
    display: block;
    line-height: 1.3;
  }
  .footer-app__title {
    color: #000;
  }
  .stores img {
    height: 30px;
  }
  body {
    font-size: 16px;
  }
  #videoContainer {
    border-radius: 20px;
    overflow: hidden;
  }
  .success__list__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }
}