.bonus {
    margin-bottom: 4rem;
    .block-title {
        margin-bottom: 4rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    
        &__item {
            border-radius: 40px;
            padding: 3rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .title {
                font-size: 2.8rem;
                line-height: 1.25;
                font-weight: 700;
            }
            .text {
                font-size: 1.8rem;
                line-height: 1.34;
            }
        }
    }
}
.item__body {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        .text {
            display: flex;
            flex-grow: 1;
            align-items: center;
        }
    }
    &__right {
        width: 40%;
        display: flex;
        align-items: center;
    }
    .btn {
        margin-top: 2rem;
    }
}