.callback {
    box-shadow: 3px 7px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    max-width: 1315px;
    margin: -3rem auto 0;
    padding: 3.2rem;
    text-align: center;
    position: relative;
    background: #fff;
    z-index: 2;

    &-form {
        gap: 3rem;
        .input-wrapper{
            width: 100%;
            max-width: 40rem;
        }
        .btn {
            padding: 0 5rem;
            flex: none
        }
    }
}
.form-notice {
    font-size: 2rem;
    line-height: 1.75;
    margin-top: 1.5rem;
}