/*Footer*/ 
.footer{
    margin-top: 12rem;
    padding-top: 7rem;
    padding-bottom: 20rem;
    border-top: 1px solid var(--border-color);
    &-menu {
        color: var(--slate-gray);
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;

        &__column {
            width: 18%;
        }

        &__title {
            font-weight: 700;
            margin-bottom: 2rem;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
            a {
                &:hover {
                    color: var(--text-black)
                }
            }
        }
    }
}
.footer-app {
    border: 1px solid var(--border-color);
    border-radius: 7px;
    padding: 2rem;

    &__title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
    &__text {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 1em;
        line-height: 1.3;
    }
}
.stores {
    img {
        height: 35px;
    }
}