.garant {
    margin-bottom: 4rem;
    &__top {
        margin-bottom: 3rem;
        .subtitle {
            margin-top: 1rem;
            font-size: 3rem;
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        align-items: flex-end;
        margin-bottom: 8rem;

        &__item {
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-size: 2.3rem;
            line-height: 1.25;
            font-weight: 600;
            &:not(:first-child) {
                padding: 3rem;
                min-height: 27rem;
            }

            span {
                white-space: nowrap;
            }
        }
    }

    .btn-block {
        .btn {
            width: 100%;
            max-width: 430px;
        }
    }
}
