/*Header*/ 
.header {
    padding: 2.5rem 0 0;
    transition: transform 0.3s ease;
    transform: translateY(0);
    background: #fff;
    z-index: 10;
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transition: top 0.4s;
	-moz-transition: top 0.4s;
	-o-transition: top 0.4s;
	transition: top 0.4s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    &.active {
        top: 0 !important;
    }
}
.logo {
    display: inline-flex;
    max-width: 44rem;
    width: 20vw;
    img {
        width: 100%;
    }
}
.header__banner {
    display: inline-flex;
    max-width: 20rem;
    width: 10vw;
}
.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text-black);
    font-size: 2rem;
    a {
        &:hover {
            color: var(--text-gray);
        }
    }
}
.has-submenu {
    position: relative;
    padding-right: 25px;
    &::after {
        content: '';
        width: 1em;
        height: 1em;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s;
    }
    &:hover {
        &::after {
            transform: translateY(-50%) rotate(180deg);
        }
        .submenu-wrapper {
            opacity: 1;
            pointer-events: all;
        }
        &>a {
            color: var(--text-gray);
        }
    }
}
.submenu-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 40rem;
    padding-top: 3rem;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.submenu-list {
    position: relative;
    padding: 3rem 4rem;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,.3);
    background: #fff;
    color: #747B8F;
    font-size: 1.8rem;
    &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
}
.lk {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    color: var(--text-black);
    font-size: 2rem;
    &:hover {
        color: var(--text-gray)
    }

    .icon {
        display: inline-flex;
        width: 1em;
        height: 1em;
        color: var(--text-gray)
    }
}
.header__right__top {
    gap: 4rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    align-items: flex-start;
    .menu {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 1rem;
    }
}
.header__right__bottom {
    text-align: right;
}
.number {
    font-weight: 700;
    font-size: 2rem;
}