.input-wrapper {
    height: 6rem;
    input, textarea, select {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid var(--border-color);
        border-radius: 7px;
        padding: 0 15px;
        font-size: 16px;
        font-family: "Montserrat", serif;
        transition: all .3s;
        &::placeholder {
            color: var(--text-gray);
        }

        &:focus {
            box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
        }
    }
    textarea {
        resize: none;
        padding-top: 5px;
    }
    select {
        appearance: none; /* Убирает стандартную стрелку */
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg width="36" height="19" viewBox="0 0 36 19" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="-1" x2="24.7588" y2="-1" transform="matrix(0.727013 0.686624 -0.84524 0.534387 0 2)" stroke="%23EB1E32" stroke-width="2"/><line y1="-1" x2="24.7588" y2="-1" transform="matrix(-0.727013 0.686624 0.84524 0.534387 36 2)" stroke="%23EB1E32" stroke-width="2"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 18px 10px;
        padding-right: 40px;
    }

    &--grey {
        input {
            background: #F2F4F7;
            border: none;
            &::placeholder {
                color: #747B8F;
            }
        }
    }
}