:root{
	--text-gray: #9E9E9E;
	--text-black: #000;
	--red: #EB1E32;
	--border-color: #E0E0E0;
	--pink: #FFEFEF;
	--light-gray: #EAECEE;
	--slate-gray: #747B8F;
	--light-blue-gray: #D4DDE9;
}
html, body{
	min-height: 100%;
}
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	color: var(--text-black);
	font-family: "Montserrat", serif;
  	font-optical-sizing: auto;
	font-size: 1.6rem;
	overflow-x: hidden;
}
img{
	max-width: 100%;
}
a{
	color: currentColor;
	transition: all .2s;
}
h1, .h1{
	font-size: 6.2rem;
	line-height: 1.16;
}
h2, .h2{
	font-size: 4.1rem;
}
h3, .h3{
	font-size: 3.2rem;
}
h4, .h4{
	font-size: 2.5rem;
	line-height: 1.4;
}
.font-500{
	font-weight: 500;
}
.font-600{
	font-weight: 600;
}
b, strong, .font-700{
	font-weight: 700;
}
.font-900{
	font-weight: 900;
}
.text-center{
	text-align: center;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-grey {
	color: var(--text-gray);
}
.text-white {
	color: #fff;
}
.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
	width: 100%;
	max-width: 1640px;
	padding: 0 20px;
	margin: 0 auto;
	&--full {
		max-width: 1840px;
	}
}
.main{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
.flex{
	display: flex;
}
.flex-wrap{
	flex-wrap: wrap;
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}

.svg-sprite{
	display: none;
}

.red {
	color: var(--red)
}
.pink-bg {
	background: var(--pink)
}
.light-gray-bg {
	background: var(--light-gray)
}
.slate-gray-bg {
	background: var(--slate-gray)
}
.light-blue-gray-bg {
	background: var(--light-blue-gray)
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2.3rem;
	font-weight: 500;
	min-width: 22.5rem;
	height: 6rem;
	padding: 0 1rem;
	line-height: 1;
	border-radius: 7px;
	cursor: pointer;
	border: none;
	outline: none;
	appearance: none;
	transition: all .3s;

	&:hover {
		opacity: 0.8;
	}

	&--lg {
		font-size: 2.6rem;
		height: 8rem;
	}
	&--sm {
		font-size: 1.8rem;
		height: 4rem;
	}

	&--red {
		background: var(--red);
		color: #fff;
	}
	&--outline {
		border: 1px solid currentColor
	}
	&--white {
		color: #EAECEE;
	}
	&--grey {
		color: var(--text-gray)
	}
}
.badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2.3rem;
	font-weight: 500;
	min-width: 22.5rem;
	height: 6rem;
	padding: 0 1rem;
	line-height: 1;
	border-radius: 7px;
	cursor: default;

	&--white {
		background: #fff;
		color: var(--red);
		border: 1px solid var(--border-color);
	}
	&--grey {
		background: #D9D9D9;
		color: var(--red);
	}
	&--dark {
		background: #747B8F;
		color: #fff;
	}
	.icon {
		width: 2em;
		height: 2em;
		margin-right: 1rem;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.block {
	margin-top: 12rem;
	margin-bottom: 4rem;

	&-title {
		text-align: center;
	}
}
.list {
	padding-left: 1.2em;
	font-size: 2.3rem;
	line-height: 1.43;
	list-style: disc;
	li {
		list-style: inherit;
	}

	&--sm {
		font-size: 1.7rem;
	}
}

.mobile-btns,
.show-on-phone {
	display: none;
}
.icon {
	svg {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}