@media(max-width: 1700px) {
    .container {
        max-width: 1200px;
    }
    .callback {
        max-width: 1000px;
    }
    .main-slider .slick-arrow.prev-arrow {
        left: 0;
        transform: translateX(-50%);
    }
    .main-slider .slick-arrow.next-arrow {
        right: 0;
        transform: translateX(50%);
    }
    .main-slider .slick-arrow {
        box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
    .sale-item {
        padding: max(30px,3rem) max(35px, 4rem);
    }
    .garant-list__item:not(:first-child) {
        padding: max(25px,3rem);
    }
    :root {
        --width: 420px;
    }
    .main-banner__form {
        position: static;
        max-width: var(--width);
    }
    .feedback__content .input-wrapper {
        height: 60px;
    }
    .main-banner__content {
        width: calc(100% - var(--width));
        position: relative;

        &__img {
            position: absolute;
            right: -100px;
            bottom: 0;
            width: 300px;
            left: auto;
            img {
                display: block;
            }
        }
    }
    .main-banner--quick-start .main-banner__content__img {
        right: -30px;
    }
    .main-banner--business .main-banner__content__img {
        left: auto;
        width: 480px;
        right: -10px;
    }
    .main-banner__content__body .title {
        font-size: max(5rem, 25px);
    }
    .main-banner__content__body .description {
        font-size: max(2.5rem, 14px);
        width: 70%;
    }
    .main-banner__content__body .subtitle {
        font-size: max(4rem, 16px);
    }
    .main-banner {
        justify-content: space-between;
    }

    .main-banner--chinese .main-banner__content__img {
        width: 500px;
        left: 25rem;
        right: auto;
    }
}
// 1700
@media(max-width: 1400px) {
    .test-lesson-how-work .fake-wrapper .fake-overlay::after {
        right: calc(50% + max(4.8rem, 20px));
        bottom: calc(100% + max(10px, 3.2rem));
    }
}
// 1440
@media (max-height: 950px) {
    html {
        font-size: 0.5vw;
    }
    .garant-list__item {
        font-size: 3rem;
    }
    .success__list__item .img {
        width: 100px;
        flex: none
    }
    .success__list__item{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        min-height: 22rem;
        padding: 3rem;
    }
    .success .block-title {
        margin-bottom: 6rem;
    }
    .success__list__item .text {
        font-size: 2.4rem;
    }
    .feedback__content .h4 {
        font-size: max(2.8rem, 22px);
    }
}
@media (max-width: 1540px) {
    html {
        font-size: 0.6vw;
    }
    .garant-list__item {
        font-size: 3rem;
    }
    .success__list__item .img {
        width: 100px;
        flex: none
    }
    .success__list__item{
        display: flex;
        align-items: center;
        flex-direction: row;
        gaP: 15px;
        min-height: 25rem;
    }
    .sale-item__content .h4,
    .sale-item__content__top {
        margin-bottom: max(20px, 2rem);
    }
    .list {
        line-height: 1.7;
        &--sm {
            font-size: max(14px, 1.7rem);
        }
    }
    .garant-list {
        gap: 10px
    }
    .garant__top {
        margin-bottom: max(30px, 3rem);
    }
    .garant-list__item {
        font-size: max(18px, 2.7rem);
    }
    .video .block-title {
        margin-bottom: 8rem;
    }
}
@media(max-width: 1460px) {
    html {
        font-size: .45vw;
    }
    .first-screen__left .subtitle {
        font-size: 3rem;
    }
    .first-screen__left .top-title {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
}
// 1460
@media(max-width: 1240px) {
    .main-slider .slick-arrow {
        transform: translateX(0);
        box-shadow: none;
    }
    .main-slider .slick-arrow.next-arrow {
        right: 5px;
    }
    .main-slider .slick-arrow.prev-arrow {
        left: 0;
    }
}
@media(max-width: 1200px) {
    .callback-form {
        flex-wrap: wrap;
        .btn {
            width: 100%;
            height: 40px;
            font-size: 14px;
        }
        .input-wrapper {
            max-width: unset;
            width: auto;
            flex-grow: 1;
        }
    }
}
@media(max-width: 1024px) {
    .input-wrapper {
        input {
            font-size: 14px;
        }
    }
    .callback-form {
        gap: 20px
    }
    .sale-item,
    .garant-list__item,
    .success__list__item,
    .bonus__list__item,
    .review-block,
    .radius-lg,
    .who-is-for__list .item {
        border-radius: 20px;
    }
    .garant-list__item {
        font-size: 3rem;
    }
    .form-notice {
        font-size: 3rem;
    }
    .feature,
    .radius-md,
    .teachers__options__list .item{
        border-radius: 10px;
    }
    .course-details,
    .feedback__content .h4,
    .main-banner-wrapper__title {
        font-size: max(1.8rem, 14px);
    }
    .feedback__content .description {
        font-size: max(1.6rem, 12px);
    }
    :root {
        --width: 300px;
    }
    .main-banner__content__img {
        width: 240px;
        right: -70px;
    }
    .who-is-for__list .item .icon {
        height: 30px;
    }
    .apps__icons {
        img {
            height: 30px;
        }
    }
    h4, .h4 {
        font-size: max(2.5rem, 16px);
    }
    h1, .h1 {
        font-size: max(5rem, 30px);
    }
    .main-banner--chinese .main-banner__content__img {
        width: 300px;
    }
}
// 1024
@media(max-width: 990px) {
    .course-tabs-wrapper {
        flex-direction: column;
    }
    .course-tabs {
        width: 100%;
        display: flex;
        gap: 15px
    }
}

@media(max-width: 767px) {
    html {
        font-size: 1vw;
    }
    .mobile-btns {
        display: flex !important;
        align-items: center;
        gap: 10px;
        .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
        }
        .phone {
            width: 30px;
            height: 30px;
            background: var(--red);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }
    h1, .h1 {
        font-size: 25px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    .garant__top .subtitle,
    .success__list__item .text,
    h4, .h4,
    .success__list__item .text-md,
    .bonus__list__item .title {
        font-size: 18px;
    }
    .btn--lg {
        font-size: 16px;
    }
    .success__list__item .text-sm,
    .bonus__list__item .text,
    .footer-app__title {
        font-size: 14px;
    }
    .footer-app__text {
        font-size: 12px;
    }
    .first-screen {
        background: transparent;
        padding: 0;
        text-align: center;
    }
    .first-screen__left .top-title {
        font-size: 12px;
        color: var(--red);
        font-weight: 500;
    }
    .first-screen__left .subtitle {
        font-size: 18px;
        font-weight: 500;
        max-width: 320px;
        margin: 0 auto 20px;
    }
    .first-screen__left .show-on-phone {
        font-size: 18px;
        margin: 10px auto 20px;
        font-weight: 500;
        img {
            margin-left: auto;
            margin-right: auto;
            max-width: 300px;
            max-height: 250px;
        }
    }
    .header__right,
    .first-screen__right,
    .hide-on-phone,
    .first-screen__left .subtitle br,
    .sale-hit .block-title br,
    .sale-item__img,
    .sale-item .list,
    .cta-block > *:not(.btn--red),
    .sale-notice br,
    .sale-item__content__top .h3 br,
    .child .sale-item__content .h4 br,
    .garant-list__item br,
    .sale-item.intensive br,
    .main-banner__form,
    .what-you-waiting__form,
    .app__img{
        display: none;
    }
    .show-on-phone,
    .sale-hit .block-title span,
    .sale-wrapper,
    .garant-list,
    .item-body--block,
    .bonus__list {
        display: block !important;
    }
    .show-on-phone.badge {
        display: flex !important;
    }
    .first-screen__left {
        width: 100%;
        align-items: center;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6px;
        width: 24px;
        cursor: pointer;
    }
      
    .burger span {
        display: block;
        height: 2px;
        background-color: #000;
        border-radius: 1px;
    }
    
    .burger span:nth-child(1) {
        width: 24px;
    }
    
    .burger span:nth-child(2) {
        width: 18px;
        align-self: flex-start;
    }
    
    .burger span:nth-child(3) {
    width: 12px;
    align-self: flex-start;
    }
    .logo {
        max-width: unset;
        width: 150px;
    }
    .header__banner {
        width: 70px;
        max-width: unset;
    }

    .sale-item.popular .badge {
        min-width: unset;
    }
    .container {
        padding: 0 10px;
    }
    .btn,
    .badge {
        padding: 0 1em;
        font-size: 14px;
        height: 40px;
    }
    .callback {
        box-shadow: 0px 24px 22px -30px rgba(0, 0, 0, 0.25);
        padding: 0;
        margin-top: 25px;
        margin-top: 5px;
    }
    .form-notice {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        max-width: 344px;
        margin: 10px auto 20px;
        padding-bottom: 25px;
    }
    .callback-form  {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        .btn {
            font-size: 15px;
        }
    }
    .callback-form .input-wrapper {
        width: 100%;
    }
    .input-wrapper {
        height: 40px;
    }
    .block {
        margin-top: 35px;
    }
    .sale-hit .block-title,
    .sale-notice,
    .sale-item {
        margin-bottom: 15px;
    }
    .sale-item {
        padding: 15px;
    }
    .badge + .sale-item__content__top {
        margin-top: 15px;
    }
    .sale-item__content__top {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        margin: 0 0 10px;
        .h3 {
            line-height: 1.2;
        }
    }
    .sale-item__content .h4 {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 15px;
    }
    .sale-notice {
        font-size: 14px;
    }
    .sale-badge-block {
        .badge {
            width: 100%;
            max-width: 440px;
            flex-direction: row-reverse;
            gap: 15px;
            height: 46px;
            font-size: 16px;

            &::before{
                display: none;
            }

            &--grey {
                background: #EAECEE;
            }

            .icon {
                margin-right: 0;
                width: 29px;
                height: 37px;
            }
        }
    }
    .child {
        position: relative;
        .sale-item__img {
            display: block;
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 105px;
        }
    }
    .child .sale-item__content {
        .badge {
            background: transparent;
            color: var(--red);
            height: auto;
            padding: 0;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .garant__top .subtitle {
        line-height: 1.3;
        margin: 20px 0 10px;
    }
    .garant-list__item {
        margin-bottom: 10px;
        font-size: 16px;
        text-align: center;
        line-height: 1.2;
        flex-direction: row;
        align-items: center;
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
    }
    .garant .btn-block .btn{
        font-size: 16px;
    }
    .garant-list__item:not(:first-child) {
        min-height: 83px;
    }
    .success__list {
        display: flex;
        width: 100%;
        overflow-x: auto;
        gap: 15px;
        &__item {
            width: 320px;
            flex: none;
            padding: 20px;
            border-radius: 10px;

            .img {
                img {
                    max-width: 100px;
                }
            }
        }
    }
    .success__list__item--mobile {
        width: 100%;
        max-width: 440px;
        margin: 20px auto 0;
        .item-body__img {
            width: 100%;
            margin: 10px 0;
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
        .item-body__left {
            width: 100%;
        }
    }
    .success__list__item .text-md {
        line-height: 1.25;
        margin-bottom: 10px;
    }
    .item-body__left .btn {
        margin-top: 15px;
    }
    .video-block {
        iframe {
            height: 200px;
        }
    }
    .bonus__list {
        &__item {
            margin-bottom: 15px;
            padding: 15px 10px 15px 20px;
        }
    }
    .footer {
        padding-bottom: 40px;
    }
    .footer-menu {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        font-size: 12px;
    }
    .footer-menu__column {
        width: 45%;
        margin-bottom: 20px;
    }
    .footer-menu__column--app {
        width: 100%;
    }
    .footer-menu__item {
        margin-bottom: 0 !important;
        a {
            padding: 8px 0;
            display: block;
            line-height: 1.3;
        }
    }
    .footer-app__title {
        color: #000;
    }
    .stores {
        img {
            height: 30px;
        }
    }
    body {
        font-size: 16px;
    }
    #videoContainer {
        border-radius: 20px;
        overflow: hidden;
    }
    .success__list__item {
        flex-direction: column;
        align-items: flex-start;
        gap: 1px
    }
    .main-banner__content,
    .main-banner__content__body .description,
    .feature--md,
    .feature--lg {
        width: 100%;
    }
    .main-banner__content__img {
        position: absolute;
        width: 160px;
        right: -40px;
        flex: none;
        bottom: -20px;
    }
    .main-banner {
        padding: 20px;
        border-radius: 16px;
    }
    .main-banner__content {
        align-items: flex-end;
    }
    .main-banner__content__body .description {
        width: 70%;
        line-height: 1.5;
    }
    .main-banner-wrapper__title {
        padding-left: 0;
        font-size: 12px;
        text-align: center;
    }
    .main-banner-wrapper {
        .btn.show-on-phone {
            display: flex !important;
            margin: 30px 0;
        }
    }
    .main-banner__notice {
        text-align: center;
    }
    .who-is-for__list {
        grid-template-columns: 1fr;
        gap: 20px
    }
    .who-is-for__list .item {
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
            margin-bottom: 0;
        }
    }
    .who-is-for__list .item .icon {
        width: 50px;
        height: auto;
        img {
            height: auto;
            width: 100%;
        }
    }
    .who-is-for__list .item .text {
        line-height: 1.4;
        font-weight: 500;
    }
    .course-for-goals {
        .block-title {
            span {
                display: block;
            }
        }
    }
    .what-you-waiting-wrapper {
        display: block;
    }
    .features__item {
        flex-direction: column;
    }
    .what-you-waiting__accordeon {
        margin-right: 0;
    }
    .accordeon__title {
        font-size: 16px;
    }
    .course-tabs-wrapper {
        margin-bottom: 10px;
    }
    .tab {
        margin: 15px 0;
        padding: 15px 20px;
        border-radius: 6px;
        &--rocket-0 {
            background: #E7F3FF;
        }
        &--rocket-1 {
            background: #EEEEEE;
        }
        &--rocket-2 {
            background: #FFEFEF;
        }

        &.active {
            margin-bottom: 0;
            border-radius: 6px 6px 0 0;
        }
    }
    .tab-content {
        &.active {
            .course-info-block.radius-md{
                border-radius: 0 0 6px 6px;
            }
        }
    }
    .course-summary {
        position: static;
        margin-bottom: 15px;
    }
    .course-info-block {
        padding: 10px 20px;
    }
    .course-action {
        margin-bottom: 30px;
    }
    .accordeon__icon {
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }
    .teachers__options__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .teachers__options__list .item {
        font-size: 13px;
    }
    .teachers__options__wrapper {
        padding: 20px;
    }
    .video {
        .block-title {
            span {
                display: block;
            }
        }
    }
    .course-for-goals {
        .tab-content--mobile {
            padding-left: 20px;
            padding-right: 20px;
            .course-tabs {
                gap: 7px
            }
        }
    }
    .accordeon__content {
        margin-bottom: 15px;
    }
    .online-meet {
        flex-direction: column;
        align-items: flex-start;
    }
    .online-meet__options {
        margin-left: 0;
        margin-top: 15px;
    }
    .sale-wrapper {
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, .5);
            width: 30px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            z-index: 1;
            svg {
                width: 50%;
                height: auto;
            }
        }
        .prev-arrow {
            left: 0px;
        }
        .next-arrow {
            right: 0px;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }
    }
    .online-meet__options .option {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    .spoken-features__block {
        display: block;

        &__left,
        &__right {
            width: 100%;
        }
    }
    .spoken-features__block__left .spoken-features__item--bottom-wrapper {
        position: static;
        width: 100%;
    }
    .spoken-features__block__left .spoken-features__item--lg {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 20px;
        gap: 20px;
    }
    .spoken-features__item__img {
        position: relative;
        padding: 10px 0 0 0;
    }
    .spoken-features__block__left .spoken-features__item--bottom-wrapper {
        border: none;
        margin: 20px 0;
        &::before,
        &::after {
            display: none;
        }
    }
    .spoken-features__row {
        grid-template-columns: 1fr;
    }
    .main-banner--spoken  .main-banner__content__img{
        width: 200px;
    }
    .quick-start-features__list {
        display: flex;
        flex-direction: column;
    }
    .quick-start-features__item {
        padding: 20px;
        font-weight: 500;
        &--lg {
            padding: 20px;
            flex-direction: row-reverse;
            img {
                margin-top: 0;
                width: 30%;
            }
            p {
                flex-grow: 1;
            }
        }
        .icon {
            max-width: unset;
            img {
                width: 35px;
                height: 35px;
                object-fit: contain;
                max-width: unset;
                display: block;
            }
        }
    }
    .main-banner--quick-start .main-banner__content__body .description {
        width: 80%;
    }
    .main-banner--goals .main-banner__content__img {
        img {
            position: absolute;
            left: 120px;
            top: 0;
            height: 100%;
            object-fit: cover;
            filter: contrast(0.6);
        }
    }
    .who-is-for--goals .spoken-features__row__left {
        grid-template-columns: 1fr;
    }
    .who-is-for--goals .spoken-features__item h4 {
        margin-bottom: 0.75em;
    }
    .who-is-for--goals .spoken-features__block__left .spoken-features__item--lg {
        min-height: 300px;
        margin-bottom: 20px;
    }
    .who-is-for--goals .spoken-features__block__left .spoken-features__item--bottom-wrapper {
        position: absolute;
        right: 0;
        border: max(3rem, 20px) solid #fff;
        border-width: max(3rem, 20px) 0 0 max(3rem, 20px);
        margin-bottom: 0;
    }
    .spoken-features__item__list {
        display: block;
        br {
            display: none;
        }
        ul {
            width: 100%;
        }
    }
    .individual-training-wrapper,
    .course-features-wrapper {
        grid-template-columns: 1fr;
    }
    .who-is-for--job .quick-start-features__row {
        grid-template-columns: repeat(2, 1fr);
    }
    .course-features__col {
        grid-auto-rows: minmax(80px, auto);
        .course-features__item:empty {
            display: none;
        }
    }
    .course-features__col--center::before {
        background-position: 100% 0;
        filter: opacity(1);
        height: 100%;
        border-radius: 20px;
    }

    .main-banner--business .main-banner__content__img {
        width: 250px;
    }
    .options--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .timeline-container {
        grid-template-columns: 1fr; /* Одна колонка на мобильных */
        gap: 2rem;
    }
    
    .timeline-section {
        grid-column: 1; /* Каждая секция занимает всю ширину */
        padding-left: 10px;
    }

    .timeline-item {
        margin-bottom: 20px;
    }
    
    .header-section {
        grid-column: 1; /* Заголовок тоже на всю ширину */
        padding: 15px 20px;
        order: -3; /* Ставим заголовок первым */
        height: 185px;
        position: relative;
        margin-top: 20px;
        img {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .header-title {
            width: 55%;
            line-height: 1.4;
        }
    }
    
    .image-section,
    .test-lesson-how-work .fake-wrapper .fake-overlay::after {
        display: none;
    }
    .timeline-bottom-item {
        margin-left: 10px;
    }
    .timeline-item::before, .timeline-bottom-item::before {
        width: 15px;
        height: 15px;
    }
    .timeline-item::after,
    .timeline-bottom-item::after {
        left: 7px;
        height: 120px;
    }
    .test-lesson-how-work {
        .spoken-features__block__right {
            margin-top: 20px;
            gap: 20px;
        }
    }
    .test-lesson-how-work .fake-wrapper .fake-overlay {
        width: 100%;
        border: unset;
    }
    .test-lesson-how-work b,
    .test-lesson-how-work .block-title span,
    .test-lesson .block-title span{
        display: block;
    }
    .test-lesson-how-work br {
        display: none;
    }
    .statistic .online-meet__options {
        grid-template-columns: 1fr;
        gap: 0;
        .option{
            margin-bottom: 1px;
        }
    }
    .features--test-lesson {
        .app {
            flex-direction: column;
        }
        .app__img {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .apps__icons {
            grid-template-columns: 1fr;
        }
    }
    .features-list {
        padding: 15px;
        ul {
            gap: 15px
        }
    }
    .features-list ul li {
        padding-left: 30px;
    }
    .features-list ul li::before {
        width: 16px;
        height: 16px;
        top: 4px;
    }
    .main-banner--chinese .main-banner__content__img {
        width: 240px;
    }
    .who-is-for--job .quick-start-features__row--1-col-on-mobile {
        grid-template-columns: 1fr;
    }
    .who-is-for__list--icon-bottom .item {
        position: relative;
        .icon {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 10px;
        }
    }
    .content-warn,
    .content-bg {
        padding: 15px 15px 5px;
    }
}
// 767

@media(max-width: 480px) {
    .options--4-cols {
        grid-template-columns: 1fr;
    }
}