
.our-courses {
    margin-bottom: max(7rem, 40px);
    .sale-wrapper {
        grid-auto-rows: auto;
        .sale-item:first-child {
            grid-column: unset;
        }
    }
    .block-title {
        margin-bottom: max(4rem, 20px);
    }
}