.page-switcher {
    display: flex;
    font-size: max(2.2rem, 14px);
    margin: max(20px, 4rem) 0;
    overflow: hidden;
    
     $max-items: 10;
    $base-z-index: 10;
    $base-color: #D5D2E0;
    
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #D5D2E0;
        border-radius: 0 3rem 0 0;
        height: 2.5em;
        padding: 0 3rem;
        white-space: nowrap;
        box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
        &.active,
        &:hover {
            background: var(--red) !important;
            color: #fff;
        }
        
        &:not(:first-child) {
            margin-left: -2rem;
            padding-left: 6rem;
        }
        
        // Генерируем z-index для каждого элемента
        @for $i from 1 through $max-items {
            &:nth-child(#{$i}) {
                z-index: #{$base-z-index - $i + 1};
                background: lighten($base-color, ($i - 1) * 1.5%);
            }
        }
    }

    &.tabs {
        a{
            box-shadow: none;
        }
    }
}