.review {
    .block-title {
        margin-bottom: 4rem;
    }
}
.review-block {
    border-radius: 40px;
    padding: 3rem;
}
.temp-img {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}