.schedule-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: max(2.5rem, 10px );
    font-size: max(2rem, 14px);
    line-height: 1.3;

    &:nth-child(even) {
        background: #F2F2F2;
        border-left: 1px solid #404041;
        border-right: 1px solid #404041;
    }
    &:nth-child(odd) {
        border: 1px solid #404041
    }

    .btn {
        font-size: max(1.8rem, 12px);
        min-width: 18rem;
        height: max(5rem, 35px);
    }

    .schedule-cell {
        &:last-child {
            text-align: right;
        }
        &--with-flag {
            text-align: center;
        }
    }

    .flag-icon {
        width: 5.6rem;
        display: inline-block;
        img {
            width: 100%;
        }
    }
}
.course-title,
.topic-title {
    font-weight: 600;
    margin-bottom: 0.2em;
}
.tab-wrapper,
.subscription {
    margin-bottom: max(8rem, 30px);
}
.subscription {
    .block-title {
        margin-bottom: max(3rem, 20px);
    }
}
.subscription-form {
    background: #F3F5FD;
    padding: max(15px, 4rem);
    gap:max(25px, 9rem);
    margin: max(4rem, 20px) 0;

    &__left {
        width: 25%;
    }
    &__right {
        flex-grow: 1;
        form {
            display: flex;
            flex-wrap: wrap;
            gap: max(10px, 2rem);
        }
        .input-wrapper {
            flex-grow: 1;
        }

        .agreement {
            width: 100%;
            margin: 0;
        }
    }
}