.teachers {
    margin-top: max(30px, 6rem);
    margin-bottom: max(30px, 6rem);
    .block-title {
        text-align: left;
        margin-bottom: max(20px, 4rem);
        line-height: 1.2;
    }
}
.teachers__options__wrapper {
    background: #E9EEF4;
    padding: max(3.2rem, 10px) max(2rem, 10px);
    .h4 {
        margin-bottom: max(3rem, 10px);
        text-align: center;
        font-size: max(2.5rem, 18px);
    }
}
.teachers__options__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: max(2.4rem, 10px);
    .item {
        background: #D4DBEF;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: max(2.4rem, 12px);
        padding: max(2rem, 10px) max(1.5rem, 10px);
        box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.2);
        line-height: 1.2;
    }
}

.teachers__photos {
    display: grid;
    grid-template-columns: repeat(4, minmax(135px, 1fr));
    gap: max(4rem, 20px);
    overflow-x: auto;
    margin-bottom: max(3rem, 10px);
    margin-top: max(6rem, 30px);
    &__item {
        position: relative;
        overflow: hidden;
        border-radius: max(10px, 2.5rem);
        line-height: 0;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .item-overalay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6rem;
            height: 6rem;
            transform: translate(-50%, -50%);
        }
        .teacher-badge {
            background-color: #fff;
            border-radius: 100px;
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
            line-height: 1.3;
            text-align: center;
            padding: 1rem 2rem;
            width: 100%;
            max-width: 200px;
            font-size: max(2rem, 12px);
            .name {
                font-weight: 700;
            }
        }
    }
}