    .who-is-for {
        margin-bottom: max(7.7rem, 50px);
        .block-title {
            margin-bottom: max(4.6rem, 20px);
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            gap: 3rem;

            .item {
                border-radius: 40px;
                padding: 2rem 3rem;
                .icon {
                    height: 7rem;
                    width: auto;
                    margin-bottom: 1.6rem;
                    img {
                        max-width: unset;
                        height: 100%;
                    }
                }
                .text {
                    font-size: max(2.6rem, 14px);
                    line-height: 1.2;
                    font-weight: 500;
                }
            }

            &--icon-bottom {
                .item {
                    display: flex;
                    flex-direction: column-reverse;
                    .text {
                        flex-grow: 1;
                    }
                    .icon {
                        text-align: right;
                        margin-bottom: 0;
                        margin-top: 1.6rem;
                    }
                }
            }
        }

        .course-action {
            margin-top: max(4rem, 20px);
        }
    }
    .chat {
        background: #FFEFEF;
    }
    .pazzle {
        background: #FFF9E8;
    }
    .mountain {
        background: #F2F0F0;
    }
    .movie {
        background: #EBE7E7;
    }
    .hearts {
        background: #E7F3FF;
    }
    .gamebox {
        background: #E3FBED;
    }

    .spoken-features {
        &__row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: max(3rem, 20px);
            &__left {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: max(3rem, 20px);
            }
        }
        &__block {
            display: flex;
            margin-bottom: max(3rem, 20px);
            gap: max(3rem, 20px);
            &__left {
                width: calc(65% - max(3rem, 20px));
                position: relative;

                .spoken-features__item--lg {
                    height: 100%;
                    padding-top: 7rem;
                    p {
                        max-width: 640px;
                    }
                }

                .spoken-features__item--bottom-wrapper {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 60%;
                    border: max(3rem, 20px) solid #fff;
                    border-width: max(3rem, 20px) 0 0 max(3rem, 20px);
                    background: #fff;
                    border-radius:  max(3rem, 20px) 0 0 0;
                    &::before {
                        content: '';
                        width: max(10px, 2.5rem);
                        height: max(10px, 2.5rem);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: -5.4rem;
                        bottom: -1px;
                        transform: rotate(270deg);
                    }
                    &::after {
                        content: '';
                        width: max(10px, 2.5rem);
                        height: max(10px, 2.5rem);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        right: -1px;
                        bottom: calc(100% + max(10px, 2.9rem));
                        transform: rotate(270deg);
                    }

                    .spoken-features__item--icon-bottom-left {
                        padding: 2rem 2rem 9rem 5rem;
                        border-radius:  max(3rem, 20px);
                    }
                }
                .spoken-features__item--bottom{
                }
            }
            &__right {
                width: calc(35% - max(3rem, 20px));
                display: flex;
                flex-direction: column;
                gap: max(3rem, 20px);
            }
        }
        &__item {
            position: relative;
            font-size: max(2.4rem, 14px);
            line-height: 1.2;

            .icon {
                background: #fff;
                border-radius: max(10px, 2.5rem);
                width: 16rem;
                height: 7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before,
                &::after {
                    content: '';
                    width: max(10px, 2.5rem);
                    height: max(10px, 2.5rem);
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                }
                img {
                    height: 70%;
                }
                svg {
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    bottom: 100%;
                }
            }


            &--icon-bottom-left {
                padding: 4rem 3rem 6rem 17rem;
                .icon {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: 0 max(10px, 2.5rem) 0 0;
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: 0;
                        bottom: calc(100% - 1px);
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: calc(100% - 1px);
                        bottom: -1px;
                    }
                }
            }
            &--icon-top-left {
                padding: 4rem 3rem 6rem 17rem;
                .icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0 0 max(10px, 2.5rem) 0;
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: 0;
                        top: calc(100% - 1px);
                        transform: rotate(90deg);
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: calc(100% - 1px);
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
            }
            &--icon-bottom-right {
                padding: 4rem 3rem 8rem 4rem;
                .icon {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-radius: max(10px, 2.5rem) 0 0 0;
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: min(-10px, -2.4rem);
                        bottom: -1px;
                        transform: rotate(-90deg);
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        right: -1px;
                        bottom: calc(100% - 1px);
                        transform: rotate(-90deg);
                    }
                }
            }
            &--icon-top-right {
                padding: 8rem 3rem 3rem 4rem;
                .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 0 0 0 max(10px, 2.5rem);
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        left: -2.4rem;
                        top: 0;
                        transform: rotate(-180deg);
                    }
                    &::after {
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1,1 L1,49 L49,49 C15,45 5,15 1,1 Z' fill='white' /%3E%3Cpath d='M1,1 L1,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,49 L49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3Cpath d='M1,1 C5,15 15,45 49,49' stroke='white' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
                        right: -1px;
                        top: 100%;
                        transform: rotate(180deg);
                    }
                }
            }

        }
    }
    .spoken-features__item__img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        padding: 3rem;
    }

    .quick-start-features__list {
        display: grid;
        grid-template-columns: 50rem 1fr;
        grid-template-rows: auto auto;
        grid-gap: max(20px, 3.5rem);

        .quick-start-features__item {
            &:first-child {
                grid-column: 1;
                grid-row: 1 / span 2;
            }
            &:nth-child(2) {
                grid-column: 2;
                grid-row: 1;
            }
            &:nth-child(3) {
                grid-column: 2;
                grid-row: 2;
            }
        }
    }
    .quick-start-features__item {
        padding: 2rem 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        font-size: max(2.4rem, 14px);
        line-height: 1.3;
        font-weight: 500;
        &--lg {
            flex-direction: column;
            padding: 6rem 4rem max(15px, 2rem) 4rem;
            img {
                margin-top: 2rem;
            }
        }
        p {
            max-width: 610px;
        }
        .icon {
            align-self: flex-end;
            max-width: 5.8rem;
            img {
                width: 100%;
            }
        }
    }
    .who-is-for--goals {
        .spoken-features__block {
            justify-content: space-between;
        }
        .spoken-features__item__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 0;
        }
        .spoken-features__item {
            position: relative;
            overflow: hidden;
            padding: max(14px, 3.5rem);
            h4 {
                font-size: max(14px, 2.4rem);
                line-height: 1.2;
                font-weight: 600;
                margin-bottom: 1.75em;
                @media(width > 1460px) {
                    margin-bottom: 0.75em;
                }
            }
            p, ul {
                font-size: max(14px, 1.8rem);
                line-height: 1.4;
            }
            ul {
                padding-left: 1em;
                list-style-type: disc;
                li {
                    list-style-type: disc;
                }
            }
        }

        .spoken-features__block__left,
        .spoken-features__block__right {
            @media(width > 767px) {
                width: calc(50% - max(1.5rem, 10px));
            }
        }

        .spoken-features__block__left .spoken-features__item--bottom-wrapper {
            width: 52%;
            h4 {
                margin-bottom: 0.7em;
                @media(width > 1700px) {
                    margin-bottom: 1.6em;
                }
            }
        }
        .spoken-features__row {
            .spoken-features__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
        }
    }
    .spoken-features__item__list {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        ul {
            width: calc(50% - 10px);
        }
    }
    .who-is-for--job {
        .quick-start-features {
            margin-bottom: max(20px, 3.5rem);
        }
        .quick-start-features__list {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: max(20px, 3.5rem);
        }
        .quick-start-features__item {
            padding: 3rem 4rem;
        }
        .quick-start-features__item p {
            max-width: unset;
        }
        .quick-start-features__row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: max(20px, 3.5rem);
        }

        .course-tabs-wrapper {
            flex-direction: column;
        }
        .course-tabs span {
            display: inline-block;
        }
        .course-tabs {
            width: auto;
        }
    }

    .quick-start-features__item--image {
        .image {
            width: 35%;
            margin-left: 2rem;
            text-align: center;
        }
    }

    .lang-features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: max(20px, 4rem);

        &__item,
        .advantages-content {
            padding: max(15px, 3.5rem);
            text-wrap: balance;

            ul {
                padding-left: 1em;
                list-style-type: disc;
                display: flex;
                flex-direction: column;
                gap: max(5px, 1rem);
                line-height: 1.4;
                margin-top: max(15px, 2.5rem);
                li {
                    list-style-type: disc;
                    font-size: max(14px, 2.2rem);
                }
            }
        }
    }
    .lang-features__img {
        height: 23rem;
        text-align: right;
        img {
            max-height: 31rem;
        }
    }
    .card-1 {
            grid-column: 1;
            grid-row: 1 / 3;
        }

    .card-2 {
        grid-column: 2;
        grid-row: 1;
    }

    .card-3 {
        grid-column: 3;
        grid-row: 1;
    }

    .card-4 {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    /* Если есть card-5, то card-4 и card-5 в одной строке */
    .lang-features:has(.card-5) .card-4 {
        grid-column: 2;
        grid-row: 2;
    }

    .card-5 {
        grid-column: 3;
        grid-row: 2;
    }

    .advantages-section {
        grid-column: 1 / 4;
        grid-row: 3;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        background: #E2E8F0;
    }

    .advantages-content {
    }

    .advantages-image {
        line-height: 0;
        border-radius: 25px;
        overflow: hidden;
        max-width: 30%;
    }